<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Latihan NodeJs</title>
        <link rel="stylesheet" href="css/bootstrap.css"/>
    </head>
    <body>

        <div class="container">
            <h1>Buku Tamu</h1>
            <form method="POST" action="/bukutamu">
            <div class="form-group">
                <label>Nama Lengkap</label>
                <input class="form-control" name="txtNama" autofocus/>                
            </div>
            </form>

              
        </div>
    </body>
</html>
